div{
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    position: relative;
    padding: 2%;
  }
  #control-panel{
    background: #232931;
  }
  #chessboard{
    padding: 0;
    margin: auto;
  }
  img{
    position: absolute;
    transition: left 0.1s linear;
    -webkit-transition: left 0.1s linear;
  }
  input{
    width: auto;
    padding: 5px;
    background: #eee;
    border: 1px #aaa solid;
    border-radius: 4px;
    margin-left: 1em;
  }
  input:focus{
    border: 1px #11FF00 solid;
  }
  span {
    color: #fff;
  }
  button {
    border: 1px white solid;
    border-radius: 50%;
    color: #111;
    margin-left: 1em;
    height: auto;
  }
  button:active {
    border: 1px black solid;
  }
  .light{
    background: #FFCE9E;
  }
  .dark{
    background: #D18B47;
  }
  /*
  .spinner-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #ddd;
    opacity: 0.95;
    display: none;
  }
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    padding: 0;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: coral;
    border-bottom-color: coral;
    animation: spinner 0.7s ease infinite;
  }
  
  @keyframes spinner{
    to {
      transform: rotate(360deg);
    }
  }
  */
